{{!-- using some code from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_collapse_sidebar to create sidebar--}}

{{!-- 1. fix sidebar
2. drop down for goals --}}


<div id="sidebar" class="bar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">☰</a>
    <br>
    <form action="/dashboard" method="POST" id="choose-device-form">
        <ul>
            {{#each this.devices}}
            <li id={{this._id}} onclick="submitForm();">{{this.deviceName}}</li>
            {{/each}}
        </ul>
        <input type="hidden" name="type" value="devices">
        <input type="hidden" name="deviceId" value="">
    </form>
    <a href="/devices" id="add" class="button">Add Device</a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a href="/account">My Profile</a>
    <a href="/logout">Sign Out</a>
    <a href="/help">Help</a>
</div>
<main>
    <div id="fullsite">
    <button class="openbtn" onclick="openNav()">☰</button>
    <h1 id="dashboard-title">Hi, {{firstName}}!</h1>
    <div class="center">
    <div class="row">
        <div class="column">
            <div class="left-box">
            <h3>Lenovo ThinkPad X1 Carbon Gen 11 Stats</h3>
            <h5>Carbon Emissions Saved By:</h5>
                    <ul>
                        <li>Charging Less Often</li>
                        <ul>
                            <li>Equivalent to charging 1,293 smartphones</li>
                        </ul>
                        <li>Lessening Time Spent on Device Per Week</li>
                        <ul>
                            <li>Equivalent to driving 27 miles</li>
                        </ul>
                    </ul>
                    <a href="/facts" id="link">Learn More</a>
            </div>
            <br>
            <br>
            <h3 class="dashboard-text">{{firstName}}'s Other Goals:</h3>
            <form action="/dashboard" method="POST" id="choose-goal-form" class="column">
                <label for="goals" class="dashboard-text">Choose a goal to focus on</label>
                <br>
                <br>
                <select name="goals" id="goals">
                    {{#each this.deviceGoals}}
                    <option>{{this}}</option>
                    {{/each}}
                </select>
                <br>
                <br>
                <button type="submit" class="btn button">Submit</button>
                <input type="hidden" name="type" value="goals">
            </form>
        </div>
        <div class="column">
            <div class="right-box">
                <h3>Current Goal:</h3>
                <p>{{this.currentGoal}}</p>
                <progress value="32" max="100"> 75% </progress>
                <h4>You're so close!</h4>
                <p>You have reduced your carbon footprint by 5%</p>
                <a href="/leaderboard" id="link">Check out the leaderboard</a>
            </div>
            <br>
            <br>
                <h3 class="dashboard-text">Sustainability Tips</h3>
                <ul class="dashboard-text"> 
                  <li class="dashboard-text">Ask suppliers to email you a receipt instead of printing</li>
                  <li class="dashboard-text">Use natural light during the day instead of overhead lights or lamps</li>
                  <li class="dashboard-text">Organize carpools to work, sports, events, and other activities</li>
                </ul>
        </div>
    </div>
    </div>
    </div>
    <script>
    function openNav() {
        document.getElementById("sidebar").style.width = "250px";
        document.getElementById("fullsite").style.marginLeft = "250px";
        document.querySelector(".closebtn").style.visibility = "visible";
        document.querySelector(".openbtn").style.visibility = "hidden";
    }

    function closeNav() {
        document.getElementById("sidebar").style.width = "0px";
        document.getElementById("fullsite").style.marginLeft= "0px";
        document.querySelector(".closebtn").style.visibility = "hidden";
        document.querySelector(".openbtn").style.visibility = "visible";
    }
    var currentDevId = '';
    async function deviceClickListener(e) {
        e.preventDefault();
        currentDevId = e.target.id;
    }
    function addClickListeners(evt) {
        // add click event listeners to the device list elements
        var devices = document.querySelectorAll("#choose-device-form li");
        for (let device of devices) {
            device.addEventListener("mousedown", deviceClickListener);
        }
    }
    window.addEventListener("load", addClickListeners);
    function submitForm() {
        let deviceIdElem = document.querySelector("input[name='deviceId']");
        deviceIdElem.setAttribute("value", currentDevId);
        document.getElementById("choose-device-form").submit();
    }
    </script>
</main>