{{!-- using some code from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_collapse_sidebar to create sidebar--}}


<div id="sidebar" class="bar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">☰</a>
    <br>
    {{#if this.devices}}
    <form action="/dashboard" method="POST" id="choose-device-form">
        <ul>
            <br>
            {{#each this.devices}}
            <li id={{this._id}} onclick="submitForm();" class="link remove-dots">{{this.deviceName}}</li>
            <br>
            {{/each}}
        </ul>
        <input type="hidden" name="type" value="devices">
        <input type="hidden" name="deviceId" value="">
    </form>
    {{/if}}
    <br>
    <br>
    <a href="/devices" id="add" class="add-device-button"><div id="move-add-dev">Add Device</div></a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a href="/account">My Profile</a>
    <a href="/logout">Sign Out</a>
    <a href="/help">Help</a>
</div>
<main>
    <div id="fullsite">
    <button class="openbtn" onclick="openNav()">☰</button>
    <h1 id="dashboard-title">Hi, {{firstName}}!</h1>
    <div class="row">
        <div class="column">
            <div class="left-box">
            {{#if deviceName}}
            <h3>{{deviceName}} Stats</h3>
            {{else}}
            <h3>Stats Unavailable</h3>
            {{/if}}
            <h5>Carbon Emissions Saved By:</h5>
                    <ul>
                        {{#each this.emissionsFacts}}
                        <li>{{this.action}}</li>
                        <ul>
                            <li>{{this.stats}}</li>
                        </ul>
                        {{/each}}
                    </ul>
                    <a href="/facts" id="link">Learn More</a>
            </div>
            <br>
            <br>
            <div class="other-goals">
            <h3 class="dashboard-text">{{firstName}}'s Other Goals:</h3>
            <div class="form-align">
            <form action="/dashboard" method="POST" id="choose-goal-form" class="column">
                <label for="goals"class="dashboard-text other-goals">Choose a goal to focus on!</label>
                <br>
                <br>
                <select name="goals" id="goals">
                    {{#each this.deviceGoals}}
                    <option>{{this}}</option>
                    {{/each}}
                </select>
                <br>
                <br>
                <button type="submit" class="btn goals-button">Submit</button>
                <input type="hidden" name="type" value="goals">
            </form>
            </div>
            </div>
        </div>
        <div class="column">
            <div class="right-box">
                <h3>Current Goal:</h3>
                <p>{{this.currentGoal}}</p>
                <progress value={{{percentage}}} max="100"> {{percentage}}% </progress>
                <h5>{{progressMessage}}</h5>
                <p>You have reduced your carbon footprint by {{percentage}}%</p>
                <a href="/leaderboard" id="link">Check out the leaderboard</a>
            </div>
            <br>
            <br>
            <div class="center">
                <h3 class="dashboard-text">Sustainability Tips</h3>
                <ul class="dashboard-text">
                    {{#each this.tips}}
                        <li>{{this}}</li>
                        <br />
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    </div>
    <script>
    function openNav() {
        document.getElementById("sidebar").style.width = "250px";
        document.getElementById("fullsite").style.marginLeft = "250px";
        document.querySelector(".closebtn").style.visibility = "visible";
        document.querySelector(".openbtn").style.visibility = "hidden";
    }

    function closeNav() {
        document.getElementById("sidebar").style.width = "0px";
        document.getElementById("fullsite").style.marginLeft= "0px";
        document.querySelector(".closebtn").style.visibility = "hidden";
        document.querySelector(".openbtn").style.visibility = "visible";
    }
    var currentDevId = '';
    async function deviceClickListener(e) {
        e.preventDefault();
        currentDevId = e.target.id;
    }
    function addClickListeners(evt) {
        // add click event listeners to the device list elements
        var devices = document.querySelectorAll("#choose-device-form li");
        for (let device of devices) {
            device.addEventListener("mousedown", deviceClickListener);
        }
    }
    window.addEventListener("load", addClickListeners);
    function submitForm() {
        let deviceIdElem = document.querySelector("input[name='deviceId']");
        deviceIdElem.setAttribute("value", currentDevId);
        document.getElementById("choose-device-form").submit();
    }
    </script>
</main>