<main>
	<form method="post" id="registerDevice-form">
		<div class="vertical-container">
		<h2 class="title">Device Registration</h2>

		<label for="serialNum">Serial Number: </label>
		<br>
		<input type="text" name="serialNumber" id="serialNumber" required />
		<br />
		<br>
		<label for="devName">Device Name: </label>
		<br>
		<input type="text" name="deviceName" id="deviceName" required />
		<br />
		<br>
		<label for="devGoals">Device Goals: </label>
		<br>
		<form id="myForm">
			{{#each goals}}
				<input type="checkbox" class="deviceGoals" name="deviceGoals" value="{{this}}">{{this}}
				<br>
			{{/each}}
			<br>
			<br>
			<input type="submit" value="Submit" class="button">
		</form>
		<script>
			document.getElementById('myForm').addEventListener('submit', function(e) {
				var checkboxes = document.querySelectorAll('input.deviceGoals:checked');
				if (checkboxes.length === 0) {
					e.preventDefault();
					alert('Please select at least one goal.');
				}
			});
		</script>
		{{!-- {{#each goals}}
			{{! Checkbox options}}
			<input type="checkbox" name="deviceGoals" value="{{this}}" id="deviceGoals" required>{{this}}
			<br>
		{{/each}} --}}
		{{#if error}}
			<p class="error">{{message}}</p>
		{{/if}}
		<br />
		<br />
		<a href="/goals" id="link">Learn More About Device Goals</a>
		</br>
		</br>
		{{!-- <button type="submit" class="button">Submit</button> --}}
		<br>
		<br>
		<br>
		<br>
		<br>
		<a href="/dashboard" class="button">Back to Dashboard</a>
		</div>
	</form>
</main>